.cover__link{
   position: relative;
   background-image: url(../../../images/cover-trains.jpg);
   max-width: 1184px;
   min-height: 740px;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-decoration: none;
}

.cover__link:after{
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #2A2C2F;
   opacity: 0.3;
}

.cover__link:hover:after{
   opacity: 0.8;
   transition: opacity 1s ease-in;
}

@media screen and (max-width: 1279px) {
   
   .cover__link{
      max-width: 1024px;
      min-height: 640px;

   }
}

@media screen and (max-width: 1023px) {

   .cover__link{
      max-width: 768px;
      min-height: 480px;
   }
   
}

@media screen and (max-width: 767px) {
  
   .cover__link{
      max-width: 320px;
      min-height: 200px;
   }
   
}