.places{
   display: grid;
   gap: 80px;
   max-width: 984px;
   padding: 92px 148px 0 148px;
   margin: 0;


}

@media screen and (max-width: 1279px) {
   .places{
      gap: 80px;
      max-width: 928px;
      padding: 92px 48px 0 48px;
      margin: 0;
   }  
}

@media screen and (max-width: 1023px) {
   .places{
      gap: 72px;
      max-width: 720px;
      padding: 88px 24px 0 24px;
      margin: 0;
   }
}

@media screen and (max-width: 767px) {
   .places{
      display: flex;
      flex-direction: column;
      gap: 50px;
      max-width: 320px;
      padding: 64px 0 0 0;
      margin: 0;
   }
}